@using Movie_Rental_Project.Models;
@model IEnumerable<Movies>
@{
    ViewBag.Title = "Index";
}
<head>

    <link href="~/Content/MovieIndexStyle.css" rel="stylesheet" />
</head>

<body>
    <h2 class="h2heder">The best movies</h2>

    <a class="Button" title="Click to add new movie" href="/Movies/Create">Add Movie</a>
    <div class="tbdiv">
        <table class="table">
            <tr class="trhover">
                <th>Movie Name</th>
                <th>Category</th>
                <th>Rent</th>
                @if (User.Identity.Name == "w.tchekol@gmail.com"|| User.Identity.Name == "ramra@qualitest.co.il")
                {
                    <th>Update</th>
                    <th>Delete</th>
                }
            </tr>

            @foreach (var item in Model)
            {
                <tr class="trhover">
                    <td>@item.MovieName</td>
                    <td>@item.Category</td>
                    <td><a title="Click to rent '@item.MovieName' movie" href="/Rentals/ReantMovie?ID=@item.ID">Rent</a></td>
                    @if (User.Identity.Name == "w.tchekol@gmail.com" || User.Identity.Name == "ramra@qualitest.co.il")
                    {
                        <td><a title="Click to edit '@item.MovieName' movie" href="/Movies/Update?ID=@item.ID">Edit</a></td>
                        <td><a title="Click to delete '@item.MovieName' movie" href="/Movies/Delete?ID=@item.ID">Delete</a></td>
                    }

                </tr>
            }
        </table>
    </div>
</body>
